.vs
.idea

SefinekBlocklistsApp/bin
SefinekBlocklistsApp/obj/Debug
SefinekBlocklistsApp/obj/Release
SefinekBlocklistsApp/obj/x86
SefinekBlocklistsApp/obj/wappublish/win-x86/project.nuget.cache
SefinekBlocklistsApp/obj/project.nuget.cache


Win App Packaging Project/bin
Win App Packaging Project/bin/AnyCPU
Win App Packaging Project/obj/Debug
Win App Packaging Project/obj/Release
Win App Packaging Project/obj/x86
Win App Packaging Project/obj/project.nuget.cache
Win App Packaging Project/AppPackages
Win App Packaging Project/BundleArtifacts
Win App Packaging Project/Win App Packaging Project_TemporaryKey.pfx
